.nav-bar {
  padding: 1rem;
  margin: 0;
  height: 13vh;
  top: 0;
  z-index: 1;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}
.nav-bar img {
  height: 12vh;

  max-height: 55px;
  max-width: 135px;
}
