.second_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-container {
  margin-top: 1em;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
}
.top-container > h2 {
  font-weight: 700;
  line-height: 2.5rem;
}
.body-container {
  margin-left: 1rem;
  font-weight: 500;
  font-size: 0.75rem;
  text-align: left;
  line-height: 1rem;
}
.second-img-container {
  width: 100%;
  height: auto;
}
.second-img-container img {
  width: 100vw;
  object-fit: center;
  max-width: 980px;
}
@media screen and (min-width: 900px) {
  .second-img-container img {
    min-width: none;
    width: 80%;
  }
}
